<%- include("header") -%>
  <section id="header">
    
  </section>

  <form class="pt-20" action="/moviesGenres" method="post">
    <label for="moviesGenres">Search for specficic genres</label>
    <select name="moviesGenres" id="moviesGenres">
      <% for (let i in moviesGenresList) {%>
        <option value="<%= moviesGenresList[i].id %>"><%= moviesGenresList[i].name %></option>
      <% } %>
    </select>

    <button type="submit">Search</button>
  </form>

  <% for (let i in filterMovieDataArray) {%>
    <!-- <img src="<%= filterMovieDataArray[i].poster %>" alt=""> -->
    <h2><%= filterMovieDataArray[i].title %></h2>
    <p><%= filterMovieDataArray[i].releaseDate %></p>
    <p><%= filterMovieDataArray[i].description %></p>
  <% } %>

  <section id="series">
    <form action="/seriesGenres" method="post">
      <label for="seriesGenres">Search for specficic genres</label>
      <select name="seriesGenres" id="seriesGenres">
        <% for (let i in seriesGenresList) {%>
          <option value="<%= seriesGenresList[i].id %>"><%= seriesGenresList[i].name %></option>
        <% } %>
      </select>

      <button type="submit">Search</button>
    </form>

    <% for (let i in filterSeriesDataArray) {%>
      <!-- <img src="<%= filterSeriesDataArray[i].poster %>" alt=""> -->
      <h2><%= filterSeriesDataArray[i].title %></h2>
      <p><%= filterSeriesDataArray[i].releaseDate %></p>
      <p><%= filterSeriesDataArray[i].description %></p>
    <% } %>
  </section>

<%- include("footer") -%>
