<%- include("header") -%>
  <section id="header">
    <div class="container text-white">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-heading">World of Movies</h1>
          <p class="fs-4">Discover great movies and series to watch in our platform!</p>

          <div class="d-flex gap-4 justify-content-center mt-5 mb-5">
            <a class="btn btn-lg btn-color" href="<%= linkMovies %>">Movies</a>
            <a class="btn btn-lg btn-light" href="<%= linkSeries %>">Series</a>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="w-100 rounded" src="../images/header-photo.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <section id="movies" >
    <div class="container">
      <h2>TOP 10 Movies Right Now!</h2>

      <form class="pt-20" action="/moviesGenres" method="post">
        <label for="moviesGenres">Search for specficic genres</label>
        <select name="moviesGenres" id="moviesGenres">
          <% for (let i in moviesGenresList) {%>
            <option value="<%= moviesGenresList[i].id %>"><%= moviesGenresList[i].name %></option>
          <% } %>
        </select>

        <button type="submit">Search</button>
      </form>

      <div id="carouselMovies" class="carousel slide carousel-multi-item">
        <div class="carousel-inner">
          <% for (let i in filterMovieDataArray) {%>
            <div class="<%= i == 0 ? "carousel-item active" : "carousel-item" %>">
              <div class="row carousel-item-inner">
                <div class="own-card col-lg-6 mb-5 mb-md-0 mb-lg-0">
                  <div class="image">
                    <img src="<%= filterMovieDataArray[i].poster %>" alt="">
                  </div>
                </div>
                <div class="content col-lg-6">
                  <h2><%= filterMovieDataArray[i].title %></h2>
                  <p><%= filterMovieDataArray[i].releaseDate %></p>
                  <p><%= filterMovieDataArray[i].description %></p>
                </div>
              </div>
            </div>
          <% } %>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselMovies"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselMovies"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </section>

  <div class="divider2"></div>

  <section id="series">
    <div class="container">
      <h2>TOP 10 Series Right Now!</h2>

      <form action="/seriesGenres" method="post">
        <label for="seriesGenres">Search for specficic genres</label>
        <select name="seriesGenres" id="seriesGenres">
          <% for (let i in seriesGenresList) {%>
            <option value="<%= seriesGenresList[i].id %>"><%= seriesGenresList[i].name %></option>
          <% } %>
        </select>

        <button type="submit">Search</button>
      </form>

      <div id="carouselSeries" class="carousel slide carousel-multi-item">
        <div class="carousel-inner">
          <% for (let i in filterSeriesDataArray) {%>
            <div class="carousel-green <%= i == 0 ? "carousel-item active" : "carousel-item" %>">
              <div class="row carousel-item-inner">
                <div class="own-card col-lg-6 mb-5 mb-md-0 mb-lg-0">
                  <div class="image">
                    <img src="<%= filterSeriesDataArray[i].poster %>" alt="">
                  </div>
                </div>
                <div class="content col-lg-6">
                  <h2><%= filterSeriesDataArray[i].title %></h2>
                  <p><%= filterSeriesDataArray[i].releaseDate %></p>
                  <p><%= filterSeriesDataArray[i].description %></p>
                </div>
              </div>
            </div>
          <% } %>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselSeries"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselSeries"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

<%- include("footer") -%>
