<%- include("header") -%>
  <section id="results">
    <div class="container">
      <% for (let i in filterDataArray) {%>
        <div class="card mb-5 border-0 shadow <%= i % 2 === 0 ? "card-blue" : "card-green" %>">
          <img class="card-img-top" src="<%= filterDataArray[i].poster %>" alt="<%= filterDataArray[i].title %> Poster">
          <div class="card-body">
            <h2 class="card-title"><%= filterDataArray[i].title %></h2>
            <p class="card-text"><%= filterDataArray[i].description %></p>
            <p class="card-text"><small class="text-muted"><%= filterDataArray[i].releaseDate %></small></p>
          </div>
        </div>
      <% } %>
    </div>
  </section>

<%- include("footer") -%>
