<%- include("header") -%>

  <section id="results">
    <% for (let i in filterDataArray) {%>
      <!-- <img src="<%= filterDataArray[i].poster %>" alt=""> -->
      <h2><%= filterDataArray[i].title %></h2>
      <p><%= filterDataArray[i].releaseDate %></p>
      <p><%= filterDataArray[i].description %></p>
    <% } %>
  </section>

<%- include("footer") -%>
